* {
    background: black;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 32px;
    font-style: normal;
    line-height: 150%;
}

header {
    text-align: center;
}

h1 {
    color: lightcyan;
    font-size: 50px;
}

h3 {
    color: lightcyan;
    font-style: italic;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.input-area {
    resize: none;
    border: none;
    background: black;
    /* opacity: 0.6; */ /* Eliminado */
    margin-top: 90px;
    text-transform: lowercase;
    color: lightcyan;
}

.input-area:focus {
    outline: none;
}

.output-area {
    resize: none;
    background: lightcyan;
    /* opacity: 0.4; */ /* Eliminado */
    border: none;
    color: black;
    margin-top: 90px;
    padding-left: 20px;
}

.output-area:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-encriptar,
.btn-desencriptar,
.btn-copiar {
    font-family: "VT323", monospace;
    border: 1px solid lightcyan;
    cursor: pointer;
    height: 67px;
    width: 328px;
    background-color: lightcyan;
    color: black;
}

.btn-desencriptar {
    background-color: black;
    color: lightcyan;
}

.btn-copiar {
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
    margin-top: 20px;
}

.informacion {
    color: #495057;
    font-size: 18px;
}

footer {
    color: lightcyan;
    text-align: center;
    padding: 40px;
    font-size: 16px;
}

