* {
    background: black;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 32px;
    font-style: normal;
}

body{
    margin: 0 auto;
}

header {
    text-align: center;
    color: lightcyan;
}

h1 {
    font-size: 50px;
}

h3 {
    font-style: italic;
}

main {
    max-width: 920px;
    padding: 20px 40px;
    margin: 0 auto;
    display: flex;
}

.section1{
    width: 100%;
    margin-right: 40px;
}

.section2{
    width: 300px;
}

textarea {
    resize: none;
    height: 400px;
    width: 100%;
    outline: none;
    border: none;
    text-transform: lowercase;
  }

textarea:focus{
    outline: none;
}

.input-area {
    background: black;
    color: lightcyan;
}

.output-area {
    background: lightcyan;
    color: black;
    font-size: 24px;
}

.output-area::placeholder {
    text-align: center;
    padding-top: calc((300px - 1em) / 2);
    padding-bottom: calc((300px - 1em) / 2);/
}

button {
    border: 1px solid lightcyan;
    cursor: pointer;
    height: 67px;
    background-color: lightcyan;
    color: black;
    text-transform: uppercase;
}

.botones {
    display: flex;
}

.btn-encriptar, .btn-desencriptar {
    flex: 1;
    margin: 5px;
}


.btn-desencriptar {
    background-color: black;
    color: lightcyan;
}

.btn-copiar {
    margin-top: 36px;
    width: 101%;
}

.divinfo {
    display: flex;
    align-items: center;
    height: 32px;
}

.informacion {
    color: #495057;
    font-size: 18px;
}

footer {
    color: lightcyan;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 16px;
}

@media only screen and (max-width: 767px) {
    main { flex-direction: column; }
    .section2 { margin-top: 20px; width: 100%; }
    .btn-copiar { margin-top: 5px; }
    h1 { font-size: 36px; }
    h3 { font-size: 24px; }
}
